@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');



.App-nav{
  height: 100px;
  background-color: #04dffc;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  
}

.logo-header{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-header h1{
  font-family: 'DynaPuff', cursive;
  color: rgb(255, 255, 255);
  font-size: 6vh;
}

.logo{
  margin: 0;
  padding: 0;
  width: 100px;
  height:90%;
}

.links-navbar{
  margin-right:20px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-navbar a{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.534);
  border: 2px solid rgba(255, 255, 255, 0.719);
  border-radius:20px;
  padding:5px;
  margin-left: 25px;
  font-size:2vw;
  font-family: 'DynaPuff', cursive;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links-navbar a:hover{
  background-color: #2bb2c4;
  color:rgb(255, 255, 255);
}

.gatito{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:50px 25%;
  width: 50%;
  height: 50%;
}